
<div class="formularioDos">
    <h2>All Categories</h2>
    <div class="cuadroFormularioCategoria">
        <div class="cuadroLista">
            @{
                foreach (var item in Model)
                {
                    <a class="itemLista" asp-controller="Categoria" asp-action="AsociarProducto" asp-route-CtgId="@item.CategoriaId">@item.Nombre</a>
                }
            }
        </div>
    </div>
</div>