@model MyViewModel

@await Html.PartialAsync("_BarraNav")

<h1 class="titulo">@ViewBag.Titulo</h1>

<div class="cuadroAcceso">
    <div class="columnaAcceso">
        @await Html.PartialAsync("_ListaCategoria", Model.ListaCategoriaPorProducto)
    </div>
    <div class="columnaAcceso">
        @await Html.PartialAsync("_IncluirCategoria", Model.ListaCategoriaExcluida)
    </div>
</div>